body {
	font-size: 16px;
	color: black;
	background-color: white;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  }

 /** HEADER **/
 #header-nav {
 	background-color: #6b6767;
 	border-radius: 0;
 	border: 0
 }

a.navbar-brand {
 	margin: 0;
 	padding: 0;
 }


h1 {
 	font-size: 2em;
 	color: white;
 	font-weight: 400;
 	margin: 10px;
}

h1:hover {
	color: #f1f0f0;
}

 	
.navbar-default button.navbar-toggle.collapsed {
	border: 2px solid;
	border-color: white;
	margin-right: 5px;
	margin-top: 0px;
}

.navbar-default button.navbar-toggle {
	border: 2px solid;
	border-color: white;
	margin: 8px;
	margin-right: 5px;
	margin-top: 0px;
}

.navbar-default button.navbar-toggle.collapsed .icon-bar {
	background-color:  white;
} 

.navbar-default button.navbar-toggle .icon-bar {
	background-color:  white;
} 

.navbar-default button.navbar-toggle:hover, 
.navbar-default button.navbar-toggle:focus {
	background-color: #753434
}

.navbar-default .navbar-nav a.menu-item {
	font-size: 25px;
	color: black;
	text-align: center;
	background-color: white;
	border: 1px solid #6b6767;
	margin: 0;
}

.navbar-default .navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid #6b6767;
}

.navbar-default .navbar-nav a.menu-item:hover,
.navbar-default .navbar-nav a.menu-item:focus {
	color: #8d2c2c;
	background-color: #f1f0f0;
}

/** CONTENT **/

h2 {
	margin-bottom: 15px;
	margin-top: 30px;
	color: #8d2c2c;
	font-size: 3.5em;
	font-weight: 500;
}

.row {
	margin: 20px;
}

.content-box {
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: #f1f0f0;
	padding: 25px;
}

h3 {
	font-size: 1.5em;
	font-weight: 500;
	color: #753434;
	margin-bottom: 15px;
	margin-top: 10px;
}

.content-box a {
	color: #8d2c2c;
	font-style: italic;
}

.content-box a:hover, 
.content-box a:focus {
	color: black;
	text-decoration: underline;
}